@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover-links: #007bff;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.start {
    padding: 2% 0% 0% 15%;
}

.start__menu {
    display: flex;
    gap: 80px;
}

.start__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.start__menu__link:hover {
    color: var(--cor-hover-links);
}

.presentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title {
   
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.title-emphasis{
    color: var(--cor-terciaria);
}

.presentation__content__text {
    text-align: justify;
    font-size: 2.25rem;
    font-family: var(--fonte-secundaria);
}

.presentation__content__text span {
    color: var(--cor-terciaria);
    font-weight: bold;
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__links__caption {
    //text-align: center; 
    font-size: 1.25rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);
    //margin: 0 18px 15px 0;    
}

.presentation__links__nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid  var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    //margin: 0 18px 15px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);

    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.presentation__links__nav:hover {
    background-color: var(--cor-hover);
    //color: var(--cor-terciaria);

    transform: scale(1.2); 
}

.presentation_photo {
    //width: 75%;
    border-radius: 250px;
    border: 4px solid var(--cor-terciaria);   
    //margin-left: 25px;
    cursor: pointer;

    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.presentation_photo:hover {
    transform: scale(1.1); 
}

.baseboard {    
    color: var(--cor-primaria);
    background-color:var(--cor-terciaria);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}


@media (max-width: 1200px) {
    .start {
        padding: 10%;
        
    }

    .start__menu {
        justify-content: center;
    }

    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content {
        width: auto;
    }    
}

