@import url('https://fonts.googleapis.com/css2?family=Inter&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #110f11;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #454a50;
    --cor-hover-links: #455a6f;
    --cor-hover: #455a6f;
    --cor-emphasis: #455a6f;
    

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
    --font-terciaria: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background: linear-gradient(#000, #F6F6F6, #000);
    color: var(--cor-terciaria);
}

.start {
    height: 50%;
    
    background-color: var(--cor-terciaria);    
}

.start .start__title img {   
    width: 80px;
    display: flex;
    
    border-radius:360px;
    animation: rotacionar 1.5s linear;
}

@keyframes rotacionar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }  

.start__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
}

.start__menu__link {
    font-family: var(--font-terciaria);
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.start__menu__link:hover {
    color: var(--cor-hover-links);
}

.presentation {
    padding: 0 15% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.presentation__content {   
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__content__title-photo {
    display: flex;
    justify-content: evenly;
    align-items: center;
    gap: 20px;
}

.presentation__content__title {
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--fonte-terciaria);
    margin: 1.5rem auto 1.5rem auto;

    color: #fff;
}

.presentation_photo {
    margin-top: 15px;
    border-radius: 60px;
    border: 3px solid var(--cor-terciaria);      
    cursor: pointer;   
    overflow: hidden;
    transition: transform 0.2s ease-in-out;   
}

.presentation_photo:hover {
    transform: scale(1.1); 
}

.title-emphasis{
    color: var(--cor-emphasis);
    font-weight:bold;
}

.presentation__content__text {
    text-align: justify;
    font-size: 0.9rem;
    font-family: var(--font-terciaria);
    margin-top: 15px;

}

.presentation__content__text span {
    color: var(--cor-terciaria);
    font-weight: bold;
}

.informal__project {
    margin-top: 15px;
}

.description__projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: justify;
}

.presentation__links {
    display: flex;  
    gap: 20px;    
}

.presentation__links__caption {     
    font-size: 0.8rem;
    font-weight: bold;
    font-family: var(--font-primaria);
    margin-top: 2rem;        
}

.presentation__container__links {
    display: flex;
    gap:20px;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 20px;
}

.presentation__links__nav {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 65px;0
    width: 15%;
     border: 2px solid var(--cor-hover-links);    
    text-align: center;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px;    
    text-decoration: none;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);

    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.presentation__links__nav:hover {
    background-color: var(--cor-hover);
    
    transform: scale(1.2); 
}

.presentation__links__nav .icones {
    width: 100;
}

 .presentation__project {
    align-items: center;
    list-style: none;    
    font-size: 1rem;   
    margin: 1rem;

    color: #fff;
}

.presentation__project span {
    color: #49446b;
    font-style: italic;
}


.presentation__lista {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    /* margin: 50px auto; */
    list-style: none;   
    font-size: 1rem;
    gap: 20px;

    color: #49446b;
}

.presentation__lista__linguagem {    
    font-size: 2rem;
    font-family: var(--font-terciaria);
    color: var(--cor-emphasis);
    font-weight: 700;   
}

.presentation__list__course {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
}

.language__framework {
    margin-top: 20px;
    margin-bottom: 20px;

}

.presentation__list__tecnologies {
    list-style: none;
    font-family: var(--font-terciaria);
    font-size: 0.85rem;
}

.baseboard {    
    color: #fff;
    background-color: var(--cor-terciaria);
    padding: 15px;
    text-align: center;
    font-family: var(--fonte-terciaria);
    font-size: 0.9rem;
    font-weight: bold;
}


@media (max-width: 1200px) {
    .start {
        padding: 3%;
        
    }

    .start__menu {
        justify-content: center;
    }

    .presentation__content__tile-photo {
        flex-direction: column-reverse;
        gap: 5px;
       
    }

    .presentation {
       flex-direction: row-reverse;
       padding: 10%;
    }

    .presentation__content {
        width: 90%;
    }    

    .presentation_photo {
        width: 100%;
        margin-right: 55px;
        
    }

    .presentation__lista__linguagem, .presentation__lista__curso {
        width: 25%;
        /* display: grid; */
        
    }
}       

